.form-control.form-control-solid {
	background-color: #FFF;
	border-color: #bbb;
}
.card .card-header {
    background-color: #DDD;
    min-height: 60px;
}
.table.table-row-gray-100 tr {
    border-bottom-color: #ddd;
}